{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "overrides": [
        {
            "files": [
                "*.js"
            ],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": [
                "*.yml"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
