{
    "tabWidth": 4,
    "useTabs": false,

    "overrides": [
    {
        "files": ["*.md"],
        "options": {
            // set to 4 when https://github.com/prettier/prettier/issues/5019 is fixed
            "tabWidth": 2
        }
    }]
}
