#Mkdocs obviously needed
mkdocs
# Base styling
mkdocs-material
# Code highlighting
pygments
# Other extensions
pymdown-extensions
markdown-full-yaml-metadata
mkdocs-redirects
mkdocs-git-revision-date-localized-plugin
# fontawesome-markdown; need to get latest from github
https://github.com/bmcorser/fontawesome-markdown/archive/master.zip
