mkdocs>=1.1
mkdocs-material>=4.6.3
# Code highlighting
pygments>=2.4
# Other extensions
pymdown-extensions>=6.3,<7
markdown>=3.2.1
markdown-full-yaml-metadata
mkdocs-redirects
mkdocs-git-revision-date-localized-plugin
mkdocs-autolinks-plugin
# fontawesome-markdown; need to get latest from github
https://github.com/bmcorser/fontawesome-markdown/archive/master.zip
# lightgallery
https://github.com/g-provost/lightgallery-markdown/archive/master.zip
