@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

[data-md-color-primary=blue-grey] .md-typeset a {
    border-bottom: 1px dotted black;
}

body > div > main > div > div.md-content > article > a:first-child {
    border-bottom: none;
}

.md-header-nav__topic, .md-nav--primary, .md-search__form input, .md-header-nav__source, .md-footer-nav {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 400;
}

[data-md-color-primary=blue-grey] .md-header, [data-md-color-primary=blue-grey] .md-hero, .md-footer-meta {
    background-color: #20232a;
}

.md-header {
    border-bottom: 4px solid #ff9000;
    height: 64px;
}

.md-header[data-md-state=shadow] {
    box-shadow: none;
}

.md-header-nav__button.md-logo img {
    width: 32px;
    height: 32px;
    margin-top: 0px;
}

@media only screen and (min-width: 60em) and (max-width: 125em) {
    .md-header-nav__topic {
        margin-top: 3px;
    }
    .md-header-nav__button.md-logo img {
        margin-top: 1px;
    }
}

@media only screen and (min-width: 60em) and (max-width: 100em) {
    .md-header-nav__topic {
        margin-top: 5px;
    }
    .md-header-nav__button.md-logo img {
        margin-top: 2px;
    }
}

@media only screen and (min-width: 59.9375em) and (max-width: 76.1875em) {
    .md-header-nav__topic {
        margin-top: -1px;
    }
}

.md-footer-nav {
    background-color: #fff;
    color: #000000de;
}

[data-md-color-primary=blue-grey] .md-nav__link--active, [data-md-color-primary=blue-grey] .md-nav__link:active {
    color: #ff9000;
}

.md-footer-nav a:hover, .md-footer-nav__direction {
    color: #ff9000;
}

[data-md-color-accent=amber] .md-nav__link:focus, [data-md-color-accent=amber] .md-nav__link:hover, [data-md-color-accent=amber] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent=amber] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent=amber] .md-typeset .md-clipboard:active:before, [data-md-color-accent=amber] .md-typeset .md-clipboard:hover:before, [data-md-color-accent=amber] .md-typeset [id] .headerlink:focus, [data-md-color-accent=amber] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent=amber] .md-typeset [id]:target .headerlink, .md-header-nav__topic {
    color: #ff9000;
}

.md-grid {
    max-width: 71rem;
}

@media only screen and (min-width: 76.25em) {
    .md-sidebar--secondary {
        margin-left: 71rem;
    }
}

