
.codehilite,
.dark-mode .md-typeset .code {
    filter: invert(100%);
    background-color: #303030;
}

/* .md-clipboard {
    filter:invert(100%);
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
} */

.md-typeset .admonition, .md-typeset details {
    font-size: 0.7rem;
}

.dark-mode .md-typeset .codehilitetable .code, .md-typeset .highlighttable .code {
    background-color: #424242;
}
.md-typeset .codehilitetable .linenos pre, .md-typeset .highlighttable .linenos pre {
    color: initial;
}
.md-typeset .codehilitetable .linenos pre, .md-typeset .highlighttable .linenos pre,
[data-md-color-primary=manticore-blue] .md-nav__link--active, [data-md-color-primary=manticore-blue] .md-nav__link:active {
    color: #ff9000;
}

.md-grid {
    max-width: 75rem;
}

.md-typeset img {
    max-width: 50%;
}

@media only screen and (min-width: 76.25em) {
    .md-sidebar--secondary {
        margin-left: 75rem;
    }
}


/* Tables */

.md-typeset table:not([class]) thead tr {
    white-space: nowrap;
}

.md-typeset .md-typeset__table {
    width: 100%;
}

.md-typeset .md-typeset__table table {
    width: 100%;
    border: 1px solid #20232a;
    border-radius: 4px;
}

.md-typeset table:not([class]) tbody tr td:first-child {
    width: 150px;
    /* background: blue; */
}

/* .md-typeset table:not([class]) tbody tr td:nth-child(2) {
    background: yellow;
}

.md-typeset table:not([class]) tbody tr td:nth-child(3) {
    background: red;
}

.md-typeset table:not([class]) tbody tr td:nth-child(4) {
    background: green;
} */

