
.md-typeset img {
    max-width: 50%;
}

/* Tables */
.dark-mode .md-typeset .admonition,
.dark-mode .md-typeset details,
.dark-mode .md-typeset table:not([class]) {
    box-shadow: 0 2px 2px 0 rgba(255,255,255,.14),0 1px 5px 0 rgba(255,255,255,.12),0 3px 1px -2px rgba(255,255,255,.2);
}

/* .md-typeset table:not([class]) tbody tr td:nth-child(2) {
    background: yellow;
}

.md-typeset table:not([class]) tbody tr td:nth-child(3) {
    background: red;
}

.md-typeset table:not([class]) tbody tr td:nth-child(4) {
    background: green;
} */

