@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

.md-header-nav__topic, .md-nav--primary, .md-search__form input, .md-header-nav__source {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 400;
}

[data-md-color-primary=blue-grey] .md-header, [data-md-color-primary=blue-grey] .md-hero, .md-footer-meta, .md-footer-nav {
    background-color: #20232a;
}

[data-md-color-accent=amber] .md-nav__link:focus, [data-md-color-accent=amber] .md-nav__link:hover, [data-md-color-accent=amber] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent=amber] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent=amber] .md-typeset .md-clipboard:active:before, [data-md-color-accent=amber] .md-typeset .md-clipboard:hover:before, [data-md-color-accent=amber] .md-typeset [id] .headerlink:focus, [data-md-color-accent=amber] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent=amber] .md-typeset [id]:target .headerlink, .md-header-nav__topic {
    color: #ff9000;
}
