name: Build & Deploy (Development)

on:
  push:
    branches:
      - 'development'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        uses: actions/checkout@v2
        with:
          repository: ManticoreGamesInc/mkdocs-material
          ref: manticore
          path: mkdocs-material
      - name: Set up Python 3.8
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.8

      - name: Setup Node
        uses: actions/setup-node@v2.3.0
        with:
          node-version: 14.x
          cache: npm
      - run: npm install

      - name: Run Tests
        run: npm run lint
