name: Build & Deploy (Development)

on:
  push:
    branches:
      - 'development'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        uses: actions/checkout@v2
        with:
          repository: ManticoreGamesInc/mkdocs-material
          ref: manticore
          path: mkdocs-material
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - uses: actions/cache@v2
        id: cache-node
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Node Dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm install

      - name: Run Tests
        run: npm run lint

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Build
        run: mkdocs build
