name: Build & Deploy (Development)

on:
  push:
    branches:
      - "development"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        uses: actions/checkout@v2
        with:
          repository: ManticoreGamesInc/mkdocs-material
          ref: manticore
          path: mkdocs-material

      # - name: Set up Python 3.8
      #   uses: actions/setup-python@v2.3.0
      #   with:
      #     python-version: 3.8
      #     cache: "pip"

      - name: Setup Node
        uses: actions/setup-node@v2.5.1
        with:
          node-version: 16.x
          cache: npm
      - run: npm install

      - name: Lint Paths
        run: npm run lint:paths

      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v5
        with:
          globs: "src/**/*.md"
