name: Build & Deploy (Pull Request)

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Checkout submodules
        uses: actions/checkout@v2
        with:
          repository: ManticoreGamesInc/mkdocs-material
          ref: manticore
          path: mkdocs-material

      - name: Set up Python 3.8
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.8

      - name: Setup Node
        uses: actions/setup-node@v2.3.0
        with:
          node-version: 14.x
          cache: npm
      - run: npm install

      - name: Run Tests
        run: npm run lint

      - name: Wait for the Netlify Preview
        uses: jakepartusch/wait-for-netlify-action@v1.2
        id: netlify
        with:
          site_name: "manticore-docs"
          max_timeout: 360

      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@8.0.0
        env:
          LHCI_GITHUB_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
        with:
          urls: |
            ${{ steps.netlify.outputs.url }}
            ${{ steps.netlify.outputs.url }}/api/
          uploadArtifacts: true
          temporaryPublicStorage: true
