name: Build & Deploy (Pull Request)

on:
  pull_request:
    branches:
      - '!production'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Checkout submodules
        uses: actions/checkout@v2
        with:
          repository: ManticoreGamesInc/mkdocs-material
          ref: manticore
          path: mkdocs-material

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - uses: actions/cache@v2
        id: cache-node
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Node Dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm install

      - name: Run Tests
        run: npm run lint

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Build
        run: mkdocs build

      # - name: Waiting for 200 from the Netlify Preview
      #   uses: jakepartusch/wait-for-netlify-action@v1
      #   id: waitFor200
      #   with:
      #     site_name: "manticore-docs"
      #     max_timeout: 180

      # - name: Lighthouse CI
      #   run: |
      #     npm install -g @lhci/cli@0.4.x
      #     lhci autorun --upload.target=temporary-public-storage --collect.url=${{ steps.waitFor200.outputs.url }}
      #   env:
      #     LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}

      # - name: Running Page Speed Insights
      #   uses: jakepartusch/psi-action@v1
      #   with:
      #     url: ${{ steps.waitFor200.outputs.url }}
